
<div class="board-wrapper d-flex justify-content-center align-items-center">
  <h2>Le tue board</h2>
  @if (error()) {
    <div style="color: red">{{ error() }}</div>
  }

  @if (loading()) {
    <div>Caricamento...</div>
  }

  @if (!loading() && !error()) {
    @for (board of boards(); track $index) {
      <div class="card" style="width: 18rem;">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top"
             alt="Chicago Skyscrapers" />
        <div class="card-body">
          <a [routerLink]="['/boards', board.id]"><strong>{{ board.name }}</strong></a>
          @if (board.description) {
            <p class="card-text">{{ board.description }}</p>
          }
        </div>
        <ul class="list-group list-group-light list-group-small">
          <li class="list-group-item px-4">{{board.ownerUserId}}</li>
          <li class="list-group-item px-4">{{board.createdAt}}</li>
          <li class="list-group-item px-4">{{board.updatedAt}}</li>
        </ul>
      </div>
    }
  }
</div>
