<div class="login-container">
  <h2>Taskboard Login</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" />
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" />
    </div>

    <button type="submit" [disabled]="loading() || form.invalid">
      {{ loading() ? 'Login in corso...' : 'Login' }}
    </button>
  </form>


  @if (error()){
    <p style="color: red">{{ error() }}</p>
  }

</div>
